<div>
  <h1>Gestión de Películas</h1>
  <app-header></app-header>

  <!-- Enlace para buscar películas -->
  <a routerLink="/buscar-peliculas">Buscar Películas</a>

  <!-- Enlace para agregar películas -->
  <a routerLink="/agregar-peliculas" style="margin-left: 20px;">Agregar Película</a>

  <a routerLink="/register" style="margin-left: 20px;">Registrarse</a>
  <a routerLink="/login" style="margin-left: 20px;">Login</a>

  <router-outlet></router-outlet>
</div>





<!--<ul>
  <li><a routerLink="">PRODUCTOS</a></li>
</ul>
<router-outlet />-->
