<div class="container">
  <h1>Gestión de Películas</h1>
   <div class="buttons-groups">
    <div class="button-group">
      <a routerLink="agregar-peliculas" class="btn">Añadir Película</a>
      <a routerLink="buscar-peliculas" class="btn">Buscar Película</a>
    </div>
    <div class="user-actions">
      <a routerLink="register" class="btn">Registrarse</a>
      <a routerLink="login" class="btn">Iniciar Sesión</a>
    </div>
   </div>
 

  <router-outlet></router-outlet>
</div>





<!--<ul>
  <li><a routerLink="">PRODUCTOS</a></li>
</ul>
<router-outlet />-->
