<!--<div>
  <h2>Agregar Película a la Lista de Seguimiento</h2>
  <form (ngSubmit)="agregarAWachlist($event,+userIdInput.value, +movieIdInput.value, watchedInput.value)">
    <div>
      <label for="userId">ID de Usuario:</label>
      <input type="number" id="userId" #userIdInput placeholder="Ingrese el ID del usuario" required>
    </div>
    <div>
      <label for="movieId">ID de Película:</label>
      <input type="number" id="movieId" #movieIdInput placeholder="Ingrese el ID de la película" required>
    </div>
    <div>
      <label for="watched">¿Vista?</label>
      <select id="watched" #watchedInput>
        <option value="true">Sí</option>
        <option value="false">No</option>
      </select>
    </div>
    <button type="submit">Agregar</button>
  </form>
</div>

<p>{{ userIdInput.value }} | {{ movieIdInput.value }} | {{ watchedInput.value }}</p>-->

<div>
  <h2>Agregar Película a la Lista de Seguimiento</h2>
  <form>
    <div>
      <label for="userId">ID de Usuario:</label>
      <input type="number" id="userId" #userIdInput placeholder="Ingrese el ID del usuario" required>
    </div>
    <div>
      <label for="movieId">ID de Película:</label>
      <input type="number" id="movieId" #movieIdInput placeholder="Ingrese el ID de la película" required>
    </div>
    <div>
      <label for="watched">¿Vista?</label>
      <select id="watched" #watchedInput>
        <option value="true">Sí</option>
        <option value="false">No</option>
      </select>
    </div>
    <button type="button" (click)="agregarAWachlist($event, +userIdInput.value, +movieIdInput.value, watchedInput.value)">Agregar</button>
  </form>
</div>