
  
<!--<h1>{{ watchList | json }}</h1> -->

@if(watchList.length > 0 ){
  <h2>Resultados de la búsqueda:</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Visto</th>
        <th>Fecha de lanzamiento</th>
        <th>Géneros</th>
      </tr>
    </thead>
    <tbody>
      @for(movie of watchList; track movie.movie_id){
        <tr>
          <td>{{ movie.movie_id }}</td>
          <td>{{ movie.title }}</td>
          @if(movie.watched==true ){
            <td>Visto</td>
          }
          @else{
            <td>No visto</td>
          }
          <!--<td>{{ movie.watched }}</td>-->
          <td>{{ movie.release_date }}</td>
          <td>
            @if(movie.genres && movie.genres.length > 0){
              @for(genero of movie.genres; track genero.id){
                <ul><li>{{ genero.name }}</li></ul>
              }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
@else{
  <h2>No se encontraron películas</h2>
}


<!--@if(watchList.length > 0 ){
  <h2>Resultados de la búsqueda:</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Visto</th>
        <th>Fecha de lanzamiento</th>
        <th>Géneros</th>
      </tr>
    </thead>
    <tbody>
      @for(movie of watchList; track movie.movie_id){
        <tr>
          <td>{{ movie.movie_id }}</td>
          <td>{{ movie.title }}</td>
          <td>
            <input 
              type="checkbox" 
              [checked]="movie.watched" 
              (click)="actualizarVisto(movie.movie_id, $event)">
            />
          </td>
          <td>{{ movie.release_date }}</td>
          <td>
            @if(movie.genres && movie.genres.length > 0){
                @for(genero of movie.genres; track genero.id){
                  <ul><li>{{ genero.name }}</li></ul>
                }
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
}
@else{
  <h2>No se encontraron películas</h2>
}-->
