<nav class="header-nav">
  <div class="nav-container">
    <div class="nav-left">
      <a class="brand-logo" routerLink="/">Filmoteca</a>
      <a class="nav-link" routerLink="/buscar-peliculas"> Buscar Películas </a>
      <a
        *ngIf="authService.isAuthenticated()"
        routerLink="/watchList"
        class="nav-link"
      >
        Lista de películas
      </a>
    </div>

    <div class="nav-right">
      <ng-container *ngIf="!authService.isAuthenticated()">
        <a routerLink="/register" class="nav-link"> Registrarse </a>
        <a routerLink="/login" class="nav-link"> Login </a>
      </ng-container>

      <a
        *ngIf="authService.isAuthenticated()"
        routerLink="/profile"
        class="nav-link"
      >
        Perfil
      </a>

      <button
        *ngIf="authService.isAuthenticated()"
        (click)="logout()"
        class="nav-link logout-btn"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
